* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #6b4eff, #44c7f4);
    margin: 0;
    padding: 20px;
    /* Added padding to ensure spacing on small screens */
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    /* Reduced padding */
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s;
    width: 100%;
    max-width: 400px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

label {
    display: block;
    margin-bottom: 5px;
    /* Reduced margin */
    font-weight: bold;
    color: #444;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    /* Reduced padding */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="radio"] {
    margin: 0 10px 10px 0;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    /* Reduced padding */
    background-color: #6b4eff;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

input[type="submit"]:hover {
    background-color: #553bd0;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
